.header {
    background-color: #533A7B;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
}