.navbar {
    padding: 1rem 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
}

.nav-link {
    margin-right: 1rem;
    transition: color .3s ease;
}

.nav-link:hover, .nav-link:focus {
    color: #f0ad4e !important;
}

.active {
    border-bottom: 2px solid #fff;
}
