.header {
    background-color: #533A7B;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-button {
    width: 100%;
    height: 100%;
}