div {
    margin: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    background-color: #f9dddd;
  }
  
  /* Style the heading */
  h1 {
    color: #1f6221;
  }
  
  /* Style the paragraph */
  p {
    color: #1f6221;
  }

  #logo-img {
    width: 25%;
    

  }