.main {
    /* Set the background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/cheer_background1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.vision-statement {
    color: white;
    display: flex;
    flex-direction: column;
}

.vision-statement h2 {
    color: white;
}

.cheer-title h1 {
    color: white;
}

.large-row {
    height: auto;
    /* Adjust as needed */
}

.why-row {
    margin-top: auto;
}