.fun-div-time{
    position: relative;
    z-index: 1;
    background-color: #EDE9D2;
    width: 50%;
    margin: 0 auto;


}

.background-container {
    position: relative;
    background-image: url('../assets/logo1.png');
    background-repeat: repeat;
    z-index: 0;
  }
  
  .background-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: 200px; 
    background-image: url('../assets/logo1.png');
    background-repeat: repeat;
    opacity: 0.1; 
  }